@import '../../common.scss';

#timeslots{
    #table-timeslots{

        width: 70%;
        margin: 30px auto;
        
        tr:nth-child(even){ 
            background-color: #f2f2f2; 
        }
        
        tr:hover { 
            background-color: #a4c7eebe; 
        }
        
        th {
            background-color: $colorTimeSlots;
        }
    }

    #create-timeslots{
        color: #fff;
        background-color: $colorTimeSlots;

        &:hover, &:active{
            background-color: #3875d1; 
        }
    }

    .pagination{
        ul{
            li.active{
                background-color: $colorTimeSlots;
                color: $colorWhite; 
                border-radius: 4px;
            }
        }
    }
}