@import '../../common.scss';

.wrapper-details{
    margin: 0 auto;
    width: 70%;
    
    .details{
        border-radius: 8px;
    }
}

#details-classe{
    .details{
        border: 1px solid $colorClasses;
    }
}

#details-timeslot{
    .details{
        border: 1px solid $colorTimeSlots;
    }
}

#details-teacher{
    .details{
        border: 1px solid $colorTeachers;
    }
}

#details-discipline{
    .details{
        border: 1px solid $colorDisciplines;
    }
}