.table{

    border-collapse: collapse;

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        color: white;
    }

    td.actions{
        i{
            cursor: pointer;
            margin: 0 4px;
            &.fa-trash{
                color: #ff0052;
            }
            &.fa-pencil{
                color: #0f68b5;
            }
            &.fa-list-ul{
                color: #49c13a;
            }
        }
    }
}