$colorClasses:#ff0052;
$colorTimeSlots: #04c3ef;
$colorPlannings: #640b92;
$colorSlots: #1263dc;
$colorRoom: #dcba12;
$colorDisciplines: #4b920b;
$colorTeachers: #585458;
$colorWhite:#fff;
$colorBlack:#000;

.wrapper-form{
    text-align: center;
    .forms{
        display: inline-block;
        text-align: center;
        input{
            display: block;
        }
    }
    
}