#header{
    text-align: center;
    background: linear-gradient(90deg, #0f68b5, #79aadc);
    color: #fff;
    width: 100%;
    padding: 25px 0;

    h1, h2{
        margin: 0;
    }
    
    h2{
        margin-top: 15px;
    }
}